html,
body {
  height: 100%;
  margin: 0;
}

.app {
  height: 100%;
  display: grid;
  grid-template-rows: 74px 1fr;
  grid-template-columns: auto 1fr;
  background-color: #fcfcfc;
}

main {
  grid-row: 2;
  grid-column: 2;
}

header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  grid-column: 2/-1;
  grid-row: 1;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

aside {
  background-color: #242424;
  grid-row: 1/-1;
  grid-column: 1;
  width: 310px;
}

.card-name {
  font-size: 24px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 0px;
}

.card-name__value {
  font-weight: bold;
}

.css-user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin-right: 16px;
}

.css-user__avatar {
  width: 42px;
  height: 42px;
  margin-right: 10px;
  border-radius: 50%;
}

@media (max-width: 992px) {
  aside {
    width: 64px;
  }
}
